---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
---

<BaseLayout
title="About | Davide Ciaccia" 
description="About Davide Ciaccia Lorem Ipsum"
>
	<div class="stack gap-20">
		<main class="wrapper about">
			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
						As described at homepage, this I deployed this portfolio using Amazon Web Services, and built it with Astro.
					</p>
					<p>
						I am a Senior Software Developer with extensive experience
						in building backend solutions for enterprise web
						applications, with a strong focus on healthcare, public
						services, and custom software development. Over the course
						of my career, I've honed my expertise in PHP, particularly
						on the Laravel framework (with MySQL and PostreSQL), and
						have worked with modern frontend technologies like Nuxt.js
						using JavaScript and TypeScript.
					</p>
				</br>
					<p>
						Additionally, I've leveraged Golang and Bash scripting for
						various development tasks. I am proficient in deploying
						applications using Docker and AWS, ensuring seamless and
						scalable solutions.
					</p>
				</br>
					<p>
						Starting as a Junior Backend Developer, I have grown into my
						current role, where I continue to drive improvements in
						software performance and efficiency. My work is guided by a
						focus on delivering innovative, high-quality solutions, and
						I actively contribute to optimizing workflows and enhancing
						system performance (for example using Elasticsearch and
						MongoDB).
					</p>
				</br>
					<p>
						I am experienced in using Git and GitLab for version control
						and code release management, ensuring collaboration and
						consistency across teams.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Education</h2>
				<div class="content">
					<p>
						Linux LPIC-1 hosted by <a href="https://www.morrolinux.it" target="_blank">morrolinux</a>
					</p>
					<p>Windows Active Directory</p>
					<p>Backup solutions</p>
					<p>Cloud solutions</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
