---
import Card from "../Card/index.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-6" title="Altro su di me">
  <div class="flex flex-col gap-2">
    <p class="text-sm font-light">
      Ho sviluppato questo piccolo CV virtuale e l'ho pubblicato grazie ad AWS.
      <br />
      <br />
      Ho una relazione poligama con Docker e Laravel.
      <br />
      A parte gli scherzi, conosco dettagliatamente entrambi dato il loro utilizzo
      quotidiano. Ho addirittura creato un pacchetto per quest ultimo che mi aiuta
      nello sviluppo, automatizzando le azioni noiose e ripetitive.
    </p>
    <ul class="text-sm font-light">
      Ho avuto modo di integrare molte cose nei vari progetti, per esempio:
      <li class="text-sm font-light">· Elasticsearch</li>
      <li class="text-sm font-light">· Google</li>
      <li class="text-sm font-light">· ChatGPT</li>
      <li class="text-sm font-light">· e molto altro...</li>
    </ul>
    <p class="text-sm font-light">
      E sono veramente orgoglioso di aver sviluppato un motore di ricerca per
      documenti utilizzando tutte le technologie citate prima (©weconstudio).
    </p>
  </div>
</Card>
